@using BlazorDragAndDrop.Models

<b>Question</b>
<div style="padding: 5px; border: 1px solid green;">
    <button @onclick="@(()=> OnRemoveClick.InvokeAsync(Model))" class="btn btn-secondary btn-sm">
        <span class="oi oi-trash"></span>
    </button>

    <label>Vraag:</label>
    <select @bind="Model.QuestionType">
        @foreach (var item in Enum.GetValues(typeof(QuestionType)).Cast<QuestionType>())
        {
            <option value="@item">@item.ToString()</option>
        }
    </select>

    <input placeholder="What is???" @bind="Model.Text" />
    <input placeholder="Other..." @bind="Model.Other" disabled="@(Model.QuestionType != QuestionType.Other)" />
</div>

@code {
    [Parameter]
    public QuestionModel Model { get; set; }

    [Parameter]
    public EventCallback<QuestionModel> OnRemoveClick { get; set; }
}