<b>Section</b>
<div style="padding: 10px; border: 1px solid blue;">
    <button @onclick="@(()=> OnRemoveClick.InvokeAsync(Model))" class="btn btn-secondary btn-sm">
        <span class="oi oi-trash"></span>
    </button>

    <label>Title:</label>
    <input placeholder="Section name...." @bind="Model.Title" />

    <hr />

    <button @onclick="AddSection" class="btn btn-success btn-sm">Add (sub) Section</button>

    <Dropzone Items="Model.Sections" DropzoneGroupId="sectionSectionsGroup">
        <Section OnRemoveClick="(s)=>Model.Sections.Remove(s)" Model="@context"></Section>
    </Dropzone>

    <Dropzone Items="Model.Questions" DropzoneGroupId="sectionQuestionsGroup" InstantReplace="true">
        <Question OnRemoveClick="(q)=>Model.Questions.Remove(q)" Model="@context"></Question>
    </Dropzone>

    <hr />

    <button @onclick="AddQuestion" class="btn btn-success btn-sm">Add Question</button>
</div>